// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#btn-blue {
background: rgb(22, 70, 148);
color: white;
font-weight: bold;
border-radius: 5px;
border-color: rgb(22, 70, 148)
}
